[contenteditor]

[menu]
start = "id-1"
activeNode = "id-1"
listItemClasses = "item"
primaryClasses = "rd-navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[emptyForm callback]
rules[phone] = "required"
messages_success = "Мы с Вами свяжемся в ближайшее время!"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_subject = "Форма связаться с нами"
mail_recipients[] = "syrex88@gmail.com"
inline_errors = "disabled"
js_on_error = "console.log(1)"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[emptyForm callbackFooter]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[menu menuFooter]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-footer"
secondaryClasses = "item"
numberOfLevels = 2

[emptyForm callbackPopup]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="{{ 'assets/images/favicon.ico' |theme }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{ 'assets/css/bootstrap.css' |theme }}" rel="stylesheet">

    <link href="{{ 'assets/css/icheck/flat/grey.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery-ui-slider-pips.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery-ui.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/magnific-popup.css' |theme }}" rel="stylesheet">
    <!-- Links -->


    <!--JS-->
    <script src="{{ 'assets/js/jquery.js' |theme }}"></script>
    <script src="{{ 'assets/js/jquery-migrate-1.2.1.min.js' |theme }}"></script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="{{ 'assets/images/ie8-panel/warning_bar_0000_us.jpg '}}" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="{{ 'assets/js/html5shiv.js' |theme }}"></script>
    <![endif]-->
    <script src="{{ 'assets/js/device.min.js' |theme}}"></script>
    {% styles %}
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header page-header-variant-1">
        <div class="boxed-wrap">
            <div class="border-radius-8 shadow-big">
                <div class="bg-image bg-image-1">
                    <!-- RD Navbar -->
                    <div class="rd-navbar-wrap">
                        <nav class="rd-navbar rd-navbar-variant-1">
                            <div class="rd-navbar-inner container container-wide">
                                <!-- RD Navbar Panel -->
                                <div class="rd-navbar-panel">

                                    <!-- RD Navbar Toggle -->
                                    <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span>
                                    </button>
                                    <!-- END RD Navbar Toggle -->

                                    <!-- RD Navbar Brand -->
                                    <div class="rd-navbar-brand">
                                        <a href="/">
                                            <span class="rd-navbar-brand-logo"><img
                                                    src="{{ 'assets/images/logo.png' | theme }}" alt=""></span>
                                            <div class="rd-navbar-brand-body">
                                                <span class="brand-name">FinAdvision, <span
                                                        class="text-light">Inc</span></span>
                                                <span class="brand-slogan">Your trusted financial advisor</span>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- END RD Navbar Brand -->
                                </div>
                                <!-- END RD Navbar Panel -->

                                <div class="rd-navbar-nav-wrap">
                                    <!-- RD Navbar Nav -->
                                    {% component "menu" %}
                                    <!-- END RD Navbar Nav -->
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!-- END RD Navbar -->

                    <div class="header-body">
                        <div class="container container-wide">
                            <div class="row col-lg-8">
                                {% component 'contenteditor' file="front-text.htm" fixture="span" %}
                                <div class="col-xs-12 col-offset-2">
                                    <div class="block-adaptive">
                                        <ul class="list-inline">
                                            <li><a href="#" class="icon icon-xs icon-default fa-google-plus"></a></li>
                                            <li><a href="#" class="icon icon-xs icon-default fa-twitter"></a></li>
                                            <li><a href="#" class="icon icon-xs icon-default fa-facebook"></a></li>
                                            <li><a href="#" class="icon icon-xs icon-default fa-pinterest"></a></li>
                                            <li><a href="#" class="icon icon-xs icon-default fa-linkedin"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-4">
                                <div>Нет времени смотреть сайт?</div>
                                <div>Давайте мы вам перезвоним и всё расскажем</div>
                                <div>Акция</div>
                                <div>Позвоните в течении часа и получите скидку 10%</div>
                                <div class="form-wrap offset-6">
                                    {% component "callback" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="well-1 border-radius-bottom-8 bg-white">
                    <div class="container container-wide">
                        <div class="block-adaptive">
                            <h2>Что мы делаем?</h2>
                        </div>
                        {% component 'contenteditor' file="what-we-doing.htm" fixture="span" %}
                    </div>
                </div>
            </div>
            <div class="well-1 border-radius-bottom-8">
                <div class="container container-wide">
                    <div class="block-adaptive">
                        <h2 style="color: white">Рассчитайте стоимость</h2>
                        <div class="row border-radius-8" style="background: #2e3135; color: white">
                            <div class="col-xs-12">
                                <div class="calculate-group row">
                                    <div class="title col-xs-4">Ваша система налогооблажения:</div>
                                    <div class="inputs col-xs-8">
                                        <label for="no-nds"><input value="УСН" type="radio" name="nds" checked
                                                                   id="no-nds"><span>Упрощённая система налогооблажения (Без НДС)</span></label>
                                        <label for="with-nds"><input value="Общая" type="radio" name="nds" id="with-nds"><span>Общая (с НДС)</span></label>
                                    </div>
                                </div>
                                <div class="calculate-group row">
                                    <div class="title col-xs-4">Примерный объём первичных документов в месяц:</div>
                                    <div class="inputs col-xs-8">
                                        <div class="slider"></div>
                                        <input style="color: black" type="text" value="50" name="slider-value"
                                               id="slider-value">
                                    </div>
                                </div>
                                <div class="line" style="background: #272b2e; height: 1px; width: 100%"></div>
                                <div class="calculate-group row">
                                    <div class="title col-xs-4">Примерная стоимость:</div>
                                    <div class="inputs col-xs-8">
                                        <span class="cost-value">3950</span> ₽
                                    </div>
                                </div>
                                <div class="calculate-group row">
                                    <div class="col-xs-12">
                                        <a class="popup-button btn btn-primary cost-button" href="#form-callback-popup">Получить
                                            точную стоимость</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        {% page %}
    </main>

    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer class="page-footer">
        <!-- Video -->
        <section class="bg-default-dark bg-transparent image-wrap image-wrap-variant-2 skew skew-2">
            <div class="skew-block-wrap">
                <div class="skew-block bg-transparent">
                    <div class="image-wrap-body">
                        <img src="{{ 'assets/images/home-8.jpg' | theme  }}" alt=""
                             class="hidden visible-sm-block visible-md-block visible-lg-block">
                    </div>
                </div>
            </div>
            <section class="top-level">
                <div class="container container-wide">
                    <div class="border-radius-8 bg-default-dark medium-shadow shift-2 relative">
                        <div class="vide-wrap">
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-5 pull-sm-right">
                                <div class="well-3">
                                    <article class="post top-level">
                                        {% component 'contenteditor' file="why-we.htm" fixture="span" %}
                                        <div class="btn-wrap">
                                            <a class="popup-button btn btn-primary btn-mod-1"
                                               href="#form-callback-popup">
                                                Бесплатная консультация
                                            </a>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Get in touch -->
            <section class="well-3 well-3-mod-1">
                <div class="container container-wide">
                    <div class="row child-offset-1">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-5">
                            <div class="block-adaptive">
                                <h2>Перезвонить?</h2>

                                <p class="text-style-2">Введите свой номер телефона и мы перезвоним Вам в течении 15
                                    мин</p>
                                {% component "callbackFooter" %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-5 pull-md-right">
                            <div class="block-adaptive">
                                <h2>Контакты</h2>

                            </div>
                            <div class="card">
                                <div class="box-xs">
                                    <div class="box__left">
                                        <div class="card-image">
                                            <img src="{{ 'assets/images/home-9.png' | theme  }}" alt="" width="130"
                                                 height="164">
                                        </div>
                                    </div>
                                    <div class="box__body">
                                        {% component 'contenteditor' file="contact-card-text.htm"  %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="bg-black">
            <div class="boxed-wrap boxed-wrap-variant-1 relative-shift-1">
                <div class="well-4 bg-primary">
                    <div class="container container-wide">
                        <div class="row offset-3 child-offset-1">
                            <div class="col-xs-12 col-md-4">
                                <div class="inset-2">
                                    {% component 'contenteditor' file="footer-text.htm" fixture="span" %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="list-container">
                                    {% component "menuFooter" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </footer>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ 'assets/js/bootstrap.min.js' |theme }}"></script>
<script src="{{ 'assets/js/vide.js' |theme }}"></script>
<script src="{{ 'assets/js/tm-scripts.js' |theme }}"></script>
<div id="form-callback-popup" class="popup-dialog zoom-anim-dialog mfp-hide">Введите свой номер телефона и мы перезвоним
    Вам в течении 15 мин{% component "callbackPopup" %}
</div>
<!-- </script> -->
{% framework extras %}
{% scripts %}
</body>
</html>