[contenteditor]

[menu]
start = "id-1"
activeNode = "id-1"
listItemClasses = "item"
primaryClasses = "rd-navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[emptyForm callback]
rules[phone] = "required"
messages_success = "Мы с Вами свяжемся в ближайшее время!"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_recipients[] = "info@b-strategy.ru"
inline_errors = "disabled"
js_on_error = "console.log(1)"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[emptyForm callbackFooter]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_recipients[] = "info@b-strategy.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"

[menu menuFooter]
start = "id-1"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-footer"
secondaryClasses = "item"
numberOfLevels = 2

[emptyForm callbackPopup]
messages_success = "Your form was successfully submitted"
messages_errors = "There were errors with your submission"
mail_enabled = 1
mail_recipients[] = "info@b-strategy.ru"
inline_errors = "disabled"
sanitize_data = "disabled"
anonymize_ip = "disabled"
recaptcha_theme = "light"
recaptcha_type = "image"
recaptcha_size = "normal"
==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ this.page.description }}">
    <link rel="icon" href="{{ 'assets/images/favicon.ico' |theme }}" type="image/x-icon">
    <title>{{ this.page.title }}</title>


    <!-- Bootstrap -->
    <link href="{{ 'assets/css/bootstrap.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/icheck/flat/grey.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery-ui-slider-pips.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/jquery-ui.css' |theme }}" rel="stylesheet">
    <link href="{{ 'assets/css/magnific-popup.css' |theme }}" rel="stylesheet">

    <link href="{{ 'assets/css/inner-page.css' |theme }}" rel="stylesheet">

    <!--JS-->
    <script src="{{ 'assets/js/jquery.js' |theme }}"></script>
    <script src="{{ 'assets/js/jquery-migrate-1.2.1.min.js' |theme }}"></script>


    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="{{ 'assets/images/ie8-panel/warning_bar_0000_us.jpg '}}" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="{{ 'assets/js/html5shiv.js' |theme }}"></script>
    <![endif]-->
    <script src="{{ 'assets/js/device.min.js' |theme}}"></script>
    {% styles %}
</head>
<body>

<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header class="page-header">
        <div class="boxed-wrap border-radius-8">
            <div class="shadow-big border-radius-8">
                <!-- RD Navbar -->
                <div class="rd-navbar-wrap border-radius-8">
                    <nav class="rd-navbar border-radius-8">
                        <div class="rd-navbar-inner container container-wide">
                            <!-- RD Navbar Panel -->
                            <div class="rd-navbar-panel">

                                <!-- RD Navbar Toggle -->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar"><span></span>
                                </button>
                                <!-- END RD Navbar Toggle -->

                                <!-- RD Navbar Brand -->
                                    {% content "logo.htm" %}
                                <!-- END RD Navbar Brand -->
                            </div>
                            <!-- END RD Navbar Panel -->

                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav -->
                                {% component "menu" %}
                                <!-- END RD Navbar Nav -->
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- END RD Navbar -->
                {% component 'contenteditor' file="fix-contacts.htm" fixture="span" %}
            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->
    <main>
        <section class="well-1">
            <div class="container container-wide inner-page">
                <h2>
                    {{ this.page.title }}
                </h2>
                <div class="description row">
                    <div class="col-xs-12 col-md-8">
                        {{ this.page.description }}
                    </div>
                </div>
                <div class="content row">
                    <div class="col-xs-12">
                        {% page %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!--========================================================
                            FOOTER
    =========================================================-->
    <footer class="page-footer">
        <!-- Have a Question? -->
        <section class="bg-default-dark bg-transparent skew skew-2">
            <div class="skew-block bg-default-dark">
            </div>

            <!-- Get in touch -->
            <section class="well-3 well-3-mod-1">
                <div class="container container-wide">
                    <div class="row child-offset-1">
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-5">
                            <div class="block-adaptive">
                                <h2>Перезвонить?</h2>

                                <p class="text-style-2">Введите свой номер телефона и мы перезвоним Вам в течении 15
                                    мин</p>
                                {% component "callbackFooter" %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-6 col-lg-5 pull-md-right">
                            <div class="block-adaptive">
                                <h2>Контакты</h2>

                            </div>
                            <div class="card">
                                <div class="box-xs">
                                    <div class="box__left">
                                        <div class="card-image">
                                            <img src="{{ 'assets/images/home-9.png' | theme  }}" alt="" width="130"
                                                 height="164">
                                        </div>
                                    </div>
                                    <div class="box__body">
                                        {% component 'contenteditor' file="contact-card-text.htm" fixture="span" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="bg-black">
            <div class="boxed-wrap boxed-wrap-variant-1 relative-shift-1">
                <div class="well-4 bg-primary">
                    <div class="container container-wide">
                        <div class="row offset-3 child-offset-1">
                            <div class="col-xs-12 col-md-4">
                                <div class="inset-2">
                                    {% component 'contenteditor' file="footer-text.htm" fixture="span" %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-8">
                                <div class="list-container">
                                    {% component "menuFooter" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </footer>
</div>
<div id="form-callback-popup" class="popup-dialog zoom-anim-dialog mfp-hide">Введите свой номер телефона и мы перезвоним
    Вам в течении 15 мин{% component "callbackPopup" %}
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ 'assets/js/bootstrap.min.js' |theme }}"></script>
<script src="{{ 'assets/js/vide.js' |theme }}"></script>
<script src="{{ 'assets/js/tm-scripts.js' |theme }}"></script>
<!-- </script> -->
{% framework extras %}
{% scripts %}
</body>
</html>